html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


}
h1,h2 {
    font-family: 'Indie Flower', cursive;

}
h1{
    font-size: 80px;
}
h2 {
    font-size: 40px;
    margin-top: 0;
}
h3 {
    margin: 0;
}

 a {
    color: #F4E04D;
 }

a:hover {
    text-decoration: none;

/*Header and Footer
----------------------*/
header, footer {
    background:#564592;
    color: #E5FCF5;
}
/* header */
.image {
    border-radius:50%;  
}
header{
    padding-top: 50px;
    position:relative;
}
header h1, header h2{
    color:#FEFFFE;
    margin:0;
}
.download {
    position: absolute;
    bottom: 0;
    right: 0;
}
/* footer */
footer {
    text-align: center;
}
.info a {
background: black;
padding: 10px;
display: inline-block;
}
/*Navigation
-------------------*/
nav {
    text-align: center;
    background: white;
    position: fixed;
    top:0;
    width: 100%;
}
nav a {
    display:inline-block;
    padding: 15px 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
}



/*Work experience{}
----------------------*/
.work {
    background:#EDF67D;
}
h3 ~ p {
margin: 0;
}
.job-desc {
    margin-bottom: 25px;
}
.job-desc p:first-of-type {
    margin-top: 0;
}


/*Education
----------------------*/

.education {
  background: linear-gradient(rgba(202, 125, 249, 0.8), rgba(252, 135, 120, 0.5)),
              url(../images/wall.jpg) no-repeat fixed;
              background-size: cover;
         
}
p + h3 {
    margin-top: 30px;
}
/*Media Queries
----------------------*/
@media (min-width: 850px){
.col-n {
    width:30%;
    float: left;
}
.col-w {
    width:70%;
    float:left;
    padding-left:20px;
}
@media (max-width: 849px)
{
    header 
    {
        text-align: center;
    }
    .image {
        width: 150px;
    }
}